* {
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image {
  width: 130px;
  height: 130px;
}


.bubblebox {
  display: flex;
} 

.outerbubble {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  width: 33%;
  box-shadow: 5px 5px rgb(205, 205, 205);
}
